name: Deploy to VM

on:
  push:
    branches: [ main ]   # ou la branche que tu utilises

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: Copy files to server
          uses: nogsantos/ssh-scp-deploy@v1.2.0
          with:
            host: ${{ secrets.SERVER_HOST }}
            username: ${{ secrets.SERVER_USER }}
            password: ${{ secrets.SERVER_PASSWORD }}
            remote_path: /home/predictelec
            local_path: .